PORT=3000
SESSION_SECRET=super_secret_session_key
ADMIN_PASSWORD=admin
ACCESS_PASSWORD=viewer
ASSET_PASSWORD=asset123
DELETE_PASSWORD=delete_only_pwd
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
S3_BUCKET_NAME=your_bucket_name
